include _includes/sharedFunctions
extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h3 You are on the #{title} 
           of all users with their CPDs.
  .row
    each user in users
      .col-xs-12.list-group-item 
        h1= user.name
        p User's name: #{user.name}
        p User's surname: #{user.surname}
        span.label.label-danger CPD: #{user.CPD} 
        +outputCPD(user.CPD)
        a(href="/admin/#{user.id}") Details


