extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h3 You are on the #{title} 
           of all users with their CPDs.
  .row
    .col-xs-12.list-group-item 
      h1= user[0].name
      p User's name: #{user[0].name}
      p User's surname: #{user[0].surname}
      span.label.label-danger CPD: #{user[0].CPD} 
    .col-xs-12.list-group-item   
      h1= user[0].name
      p User's name: #{user[0].name}
      p User's surname: #{user[0].surname}
      span.label.label-danger CPD: #{user[0].CPD} 
    .col-xs-12.list-group-item 
      h1= user[1].name
      p User's name: #{user[1].name}
      p User's surname: #{user[1].surname}
      span.label.label-warning CPD: #{user[1].CPD} 
      span.glyphicon.glyphicon-star
      span.glyphicon.glyphicon-star
      span.glyphicon.glyphicon-star
      span.glyphicon.glyphicon-star
      span.glyphicon.glyphicon-star-empty
