include _includes/sharedFunctions
extends layout

block content
  .row.page-header
    .col-lg-12
      h3= title
      h1 Super lawyer
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p.rating
            +courseRating(courseDetails.rating)
          p #{courseDetails.address}
          .panel.panel-primary
            .panel-heading
              h2.panel-title CPD to gain
            .panel-body
              each points,index in courseDetails.levels
                p Level #{index+1} - #{points}
          .panel.panel-primary
            .panel-heading
              h2.panel-title Dates
            .panel-body
              each month in courseDetails.dates
                span.label.label-warning
                  span.glyphicon.glyphicon-ok
                  | &nbsp; #{month}
                | &nbsp
        .col-xs-12.col-sm-6.location-map
          .panel.panel-primary
            .panel-heading
              h2.panel-title Location map 
            .panel-body
              img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=#{courseDetails.location[0]},#{courseDetails.location[1]}&zoom=14&size=400x350&sensor=false&markers=#{courseDetails.location[0]},#{courseDetails.location[1]}&scale=2')
      .row
        .col-xs-12
          .panel.pannel-primary.review-panel
            .panel-heading
              a.btn.btn-default.pull-rigth(href='/course/new') Add course

